@font-face {
  font-family: 'BkModelicaS';
  src: url('../fonts/BwModelicaSS01-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BdModelicaS';
  src: url('../fonts/BwModelicaSS01-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ltModelicaS';
  src: url('../fonts/BwModelicaSS01-Light.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'rgModelicaS';
  src: url('../fonts/BwModelica-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ModelicaS Black';
  src: url('../fonts/BwModelica-Black.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Coyote';
  src: url('../fonts/Coyote-SemiBoldDEMO.otf') format('OpenType');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Being Love';
  src: url('../fonts/Fourth_Avenue_Sans.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}